[Unit]
Description=Rack Fan Controller
After=network.target pigpiod.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/fan_controller.py
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target
